@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

.left-to-right{
  animation: leftright 0.5s ease-in-out;
}

@keyframes leftright {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0);
  }
}

.right-to-left{
  animation: rightleft 0.5s ease-in-out;
}

@keyframes rightleft {
  from {
    transform: translateX(10%);
  }
  to {
    transform: translateX(0);
  }
}

.alpha{
  animation: opac 1s ease-in-out;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}